{% extends 'store/Homepage.html' %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container LoginInputs">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <b>{{ form.username.label }}</b>
        <br>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="error-message">
                {{ form.username.errors }}
            </div>
        {% endif %}
        
        <br>
        <b>{{ form.password.label }}</b>
        <br>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="error-message">
                {{ form.password.errors }}
            </div>
        {% endif %}
        
        <br><br>
        <button type="submit">Login</button>
        <br>
        <a href="{% url 'Users:signup' %}" class="SignUpButton">
            <h6>Don't have an account? Sign Up Here</h6>
        </a>
    </div>
</form>
{% endblock content %}